{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {{ form.certifications.errors }}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">登録・更新</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="btn btn-outline-dark" href="{% url 'shiwake_list' %}">戻る</a>
                    </div>
                    <div>
                        <a id="save_button" class="btn btn-outline-dark" href="#">保存</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post" id="myform">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
    <script>
        const formatter = new Intl.NumberFormat('ja-JP');

        function isNumber(str) {
           return /^[0-9|０-９]+$/.test(str);
        }

        function convertToHalfWidth(str) {
            // 全角文字を半角文字に変換する
            return str.replace(/[０-９]/g, function(s) {
                return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);
            });
        }

        function sum_amount(values) {
            let sum = 0;
            for (value of values) {
                if(value) {
                    if(isNumber(value) && isNumber(value) >= 0) {
                        sum += parseInt(value);
                    } else {
                        sum = NaN;
                        break;
                    }
                }
            }
            return sum;
        }

        // 合計値を更新する
        function update_sum_field(kari_sum_field, kashi_sum_field, amountFieldValuesHash) {
            let kari_values = [];
            let kashi_values = [];

            Object.keys(amountFieldValuesHash).forEach(key => {
                if(key.startsWith("id_kari")) {
                    kari_values.push(amountFieldValuesHash[key]);
                }
                if(key.startsWith("id_kashi")) {
                    kashi_values.push(amountFieldValuesHash[key]);
                }
            });

            kari_sum = sum_amount(kari_values);

            if(!isNaN(kari_sum)) {
                kari_sum_field.value = formatter.format(kari_sum);
            } else {
                kari_sum_field.value = "";
            }
    
            kashi_sum = sum_amount(kashi_values);
    
            if(!isNaN(kashi_sum)) {
                kashi_sum_field.value = formatter.format(kashi_sum);
            } else {
                kashi_sum_field.value = "";
            }
        }

        let kari_sum_field = document.getElementById("kari_sum")
        let kashi_sum_field = document.getElementById("kashi_sum")

        let amountFields = Array.from(document.querySelectorAll("input[id*=amount]"));
        const amountFieldValuesHash = Object.fromEntries(amountFields.map(field => [field.id, field.value]));
        
        // 画面表示時に合計数を更新する必要がある
        update_sum_field(kari_sum_field, kashi_sum_field, amountFieldValuesHash);

        amountFields.forEach(field => {
            // 初期処理
            if(amountFieldValuesHash[field.id] && !isNaN(amountFieldValuesHash[field.id])) {
                if(isNumber(amountFieldValuesHash[field.id])) {
                    field.value = formatter.format(amountFieldValuesHash[field.id]);
                } else {
                    field.value = amountFieldValuesHash[field.id];
                }
            }

            // フォーカスを外した時の処理
            field.addEventListener('blur', function(event) {
                if(event.target.value) {
                    if(isNumber(event.target.value)) {
                        amountFieldValuesHash[event.target.id] = convertToHalfWidth(event.target.value);
                        event.target.value = formatter.format(amountFieldValuesHash[event.target.id]);
                    } else {
                        amountFieldValuesHash[event.target.id] = event.target.value;
                    }
                }

                // 値が変更されているため、合計値を更新
                update_sum_field(kari_sum_field, kashi_sum_field, amountFieldValuesHash);
            });
            
            // フォーカス処理
            field.addEventListener('focus', function(event) {
                event.target.value = amountFieldValuesHash[event.target.id]
            });
        });

        //保存ボタン処理
        document.getElementById("save_button").addEventListener("click", function(){
            // 送信ボタンの２度押しを防止
            $('#save_button').addClass('disabled');

            // フォーカスを外さないまま送信された値の対策
            amountFields.forEach(field => {
                let hashValue = amountFieldValuesHash[field.id];

                let compareValue = hashValue;
                if(compareValue && !isNaN(compareValue)) {
                    compareValue = formatter.format(compareValue);
                }
                if(field.value !== compareValue) {
                    if(isNumber(field.value)) {
                        amountFieldValuesHash[field.id] = convertToHalfWidth(field.value);
                        field.value = formatter.format(amountFieldValuesHash[field.id]);
                    } else {
                        amountFieldValuesHash[field.id] = field.value;
                    }
                }
            });

            // 値が変更されている可能性があるため、合計値を更新
            update_sum_field(kari_sum_field, kashi_sum_field, amountFieldValuesHash);

            // 値を桁区切り無しに変換
            Object.keys(amountFieldValuesHash).forEach(key => {
                document.getElementById(key).value = amountFieldValuesHash[key]
            });
            
            // 送信
            $('#myform').submit();
        });
    </script>
{% endblock %}